In [ ]:
#Q.1 Write a code to reverse a string

In [ ]:
#Ans

In [ ]:
def reverse_string(s):
    return s[::-1]
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print(reversed_string)

!dlroW ,olleH

In [ ]:
#Q.2Write a code to count the number of vowels in a string

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print(vowel_count)

3

In [ ]:
#Q.3 Write a code to check if a given string is a palindrome or not

In [ ]:
def is_palindrome(s):
    cleaned_string = ''.join(char.lower() for char in s if char.isalnum())
    return cleaned_string == cleaned_string[::-1]

input_string = "A man, a plan, a canal, Panama"
result = is_palindrome(input_string)
print(result)

True

In [ ]:
#Q.4 Write a code to check if two given strings are anagrams of each other

In [ ]:
def are_anagrams(str1, str2):
    def clean_string(s):
        return ''.join(sorted(char.lower() for char in s if char.isalnum()))

    cleaned_str1 = clean_string(str1)
    cleaned_str2 = clean_string(str2)

    return cleaned_str1 == cleaned_str2

string1 = "Listen"
string2 = "Silent"
result = are_anagrams(string1, string2)
print(result)

True

In [ ]:
#Q.5 Write a code to find all occurrences of a given substring within another string

In [ ]:
def find_all_occurrences(haystack, needle):
    """
    Find all occurrences of the substring `needle` in the string `haystack`.

    Parameters:
    - haystack (str): The string to search within.
    - needle (str): The substring to find.

    Returns:
    - List[int]: A list of starting indices where `needle` occurs in `haystack`.
    """
    indices = []
    start = 0

    while True:
        start = haystack.find(needle, start)

        if start == -1:
            break

        indices.append(start)
        start += len(needle)

    return indices

haystack = "This is a simple example. This example is simple."
needle = "simple"
occurrences = find_all_occurrences(haystack, needle)
print(occurrences)

[10, 42]

In [ ]:
#Q.6 Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compress_string(s):
    """
    Compresses the input string `s` by replacing consecutive repeated characters
    with the character followed by its count.

    Parameters:
    - s (str): The string to compress.

    Returns:
    - str: The compressed version of the string.
    """
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    compressed.append(s[-1] + str(count))

    compressed_str = ''.join(compressed)

    return compressed_str if len(compressed_str) < len(s) else s

original_string = "aabcccccaaa"
compressed_string = compress_string(original_string)
print("Original:", original_string)
print("Compressed:", compressed_string)

Original: aabcccccaaa
Compressed: a2b1c5a3

In [ ]:
#Q.7 Write a code to determine if a string has all unique characters

In [ ]:
def has_unique_characters(s):
    """
    Determines if the string `s` has all unique characters.

    Parameters:
    - s (str): The string to check.

    Returns:
    - bool: True if all characters are unique, False otherwise.
    """
    return len(s) == len(set(s))

string1 = "abcdefg"
string2 = "aabbcc"
print(has_unique_characters(string1))
print(has_unique_characters(string2))

True
False

In [ ]:
def has_unique_characters_ascii(s):
    """
    Determines if the string `s` has all unique ASCII characters.

    Parameters:
    - s (str): The string to check.

    Returns:
    - bool: True if all characters are unique, False otherwise.
    """
    if len(s) > 128:
        return False

    char_set = [False] * 128

    for char in s:
        val = ord(char)
        if char_set[val]:
            return False
        char_set[val] = True

    return True

string1 = "abcdefg"
string2 = "aabbcc"
print(has_unique_characters_ascii(string1))
print(has_unique_characters_ascii(string2))

True
False

In [ ]:
def has_unique_characters_hash(s):
    """
    Determines if the string `s` has all unique characters using a hash map.

    Parameters:
    - s (str): The string to check.

    Returns:
    - bool: True if all characters are unique, False otherwise.
    """
    char_map = {}

    for char in s:
        if char in char_map:
            return False
        char_map[char] = True

    return True

string1 = "abcdefg"
string2 = "aabbcc"
print(has_unique_characters_hash(string1))
print(has_unique_characters_hash(string2))

True
False

In [ ]:
#Q.8 Write a code to convert a given string to uppercase or lowercase

In [ ]:
def convert_to_uppercase(s):
    """
    Converts the given string `s` to uppercase.

    Parameters:
    - s (str): The string to convert.

    Returns:
    - str: The uppercase version of the string.
    """
    return s.upper()

def convert_to_lowercase(s):
    """
    Converts the given string `s` to lowercase.

    Parameters:
    - s (str): The string to convert.

    Returns:
    - str: The lowercase version of the string.
    """
    return s.lower()

original_string = "Hello, World!"

uppercase_string = convert_to_uppercase(original_string)
lowercase_string = convert_to_lowercase(original_string)

print("Original String:", original_string)
print("Uppercase String:", uppercase_string)
print("Lowercase String:", lowercase_string)

Original String: Hello, World!
Uppercase String: HELLO, WORLD!
Lowercase String: hello, world!

In [ ]:
#Q.9 Write a code to count the number of words in a string

In [ ]:
def count_words(s):
    """
    Counts the number of words in the given string `s`.

    Parameters:
    - s (str): The string to count words in.

    Returns:
    - int: The number of words in the string.
    """
    words = s.split()
    return len(words)

# Example usage:
example_string = "This is a simple example string with several words."
word_count = count_words(example_string)
print("Number of words:", word_count)

Number of words: 9

In [ ]:
#Q.10 Write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate_strings_join(s1, s2):
    """
    Concatenates two strings `s1` and `s2` using `str.join()`.

    Parameters:
    - s1 (str): The first string.
    - s2 (str): The second string.

    Returns:
    - str: The concatenated string.
    """
    return ''.join([s1, s2])

string1 = "Hello"
string2 = "World"
result = concatenate_strings_join(string1, string2)
print("Concatenated String:", result)

Concatenated String: HelloWorld

In [ ]:
def concatenate_strings_format(s1, s2):
    """
    Concatenates two strings `s1` and `s2` using `str.format()`.

    Parameters:
    - s1 (str): The first string.
    - s2 (str): The second string.

    Returns:
    - str: The concatenated string.
    """
    return "{}{}".format(s1, s2)

string1 = "Hello"
string2 = "World"
result = concatenate_strings_format(string1, string2)
print("Concatenated String:", result)

Concatenated String: HelloWorld

In [ ]:
def concatenate_strings_fstring(s1, s2):
    """
    Concatenates two strings `s1` and `s2` using f-strings.

    Parameters:
    - s1 (str): The first string.
    - s2 (str): The second string.

    Returns:
    - str: The concatenated string.
    """
    return f"{s1}{s2}"

string1 = "Hello"
string2 = "World"
result = concatenate_strings_fstring(string1, string2)
print("Concatenated String:", result)

Concatenated String: HelloWorld

In [ ]:
#Q.11 Write a code to remove all occurrences of a specific element from a list

In [ ]:
def remove_occurrences(lst, element):
    """
    Removes all occurrences of `element` from the list `lst`.

    Parameters:
    - lst (list): The list from which to remove the element.
    - element: The element to remove from the list.

    Returns:
    - list: The list with all occurrences of `element` removed.
    """
    return [x for x in lst if x != element]

my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
result = remove_occurrences(my_list, element_to_remove)
print("Updated List:", result)

Updated List: [1, 3, 4, 5]

In [ ]:
def remove_occurrences_filter(lst, element):
    """
    Removes all occurrences of `element` from the list `lst` using `filter()`.

    Parameters:
    - lst (list): The list from which to remove the element.
    - element: The element to remove from the list.

    Returns:
    - list: The list with all occurrences of `element` removed.
    """
    return list(filter(lambda x: x != element, lst))

my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
result = remove_occurrences_filter(my_list, element_to_remove)
print("Updated List:", result)

Updated List: [1, 3, 4, 5]

In [ ]:
def remove_occurrences_loop(lst, element):
    """
    Removes all occurrences of `element` from the list `lst` using a loop.

    Parameters:
    - lst (list): The list from which to remove the element.
    - element: The element to remove from the list.

    Returns:
    - list: The list with all occurrences of `element` removed.
    """
    while element in lst:
        lst.remove(element)
    return lst

my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
result = remove_occurrences_loop(my_list, element_to_remove)
print("Updated List:", result)

Updated List: [1, 3, 4, 5]

In [ ]:
#Q.12 Implement a code to find the second largest number in a given list of integers.

In [ ]:
#Ans

In [ ]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        raise ValueError("List must contain at least two numbers.")

    largest = second_largest = float('-inf')

    for number in numbers:
        if number > largest:
            second_largest = largest
            largest = number
        elif number > second_largest and number != largest:
            second_largest = number

    if second_largest == float('-inf'):
        raise ValueError("List must contain at least two distinct numbers.")

    return second_largest

numbers = [10, 5, 6, 3, 10]
print("Second largest number:", find_second_largest(numbers))

Second largest number: 6

In [ ]:
#Q.13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [ ]:
#Ans

In [ ]:
from collections import Counter

def count_occurrences(elements):
    return dict(Counter(elements))

elements = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
occurrences = count_occurrences(elements)
print("Occurrences:", occurrences)

Occurrences: {1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
def count_occurrences(elements):
    occurrences = {}
    for element in elements:
        if element in occurrences:
            occurrences[element] += 1
        else:
            occurrences[element] = 1
    return occurrences

elements = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
occurrences = count_occurrences(elements)
print("Occurrences:", occurrences)

Occurrences: {1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
#Q.14 Write a code to reserve a list in-place without using any built-in reverse functions.

In [ ]:
#Ans

In [ ]:
def reverse_in_place(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        lst[left], lst[right] = lst[right], lst[left]

        left += 1
        right -= 1

my_list = [1, 2, 3, 4, 5,6]
reverse_in_place(my_list)
print("Reversed list:", my_list)

Reversed list: [6, 5, 4, 3, 2, 1]

In [ ]:
#Q .15 Implement a code to find and remove duplicate from a list while preserving the original order of elements.

In [ ]:
#Ans

In [ ]:
def remove_duplicates_preserve_order(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)

    return result

my_list = [1, 2, 2, 3, 4, 1, 5, 4, 6,7]
cleaned_list = remove_duplicates_preserve_order(my_list)
print("List without duplicates:", cleaned_list)

List without duplicates: [1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Q.16 Create a code to check if a given list is sorted(either in ascending or descending order) or not.

In [ ]:
#Ans

In [ ]:
def is_sorted(lst):
    if len(lst) < 2:
        return True

    ascending = True
    descending = True

    for i in range(1, len(lst)):
        if lst[i] > lst[i - 1]:
            descending = False
        elif lst[i] < lst[i - 1]:
            ascending = False

    return ascending or descending

example_list_ascending = [1, 2, 3, 4, 5,6]
example_list_descending = [6,5, 4, 3, 2, 1]
example_list_unsorted = [1, 3, 2, 4, 5,6]

print("Is ascending sorted:", is_sorted(example_list_ascending))
print("Is descending sorted:", is_sorted(example_list_descending))
print("Is unsorted:", is_sorted(example_list_unsorted))

Is ascending sorted: True
Is descending sorted: True
Is unsorted: False

In [ ]:
#Q.17 Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
    i, j = 0, 0
    merged_list = []

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

list1 = [1, 3, 5, 7,9]
list2 = [2, 4, 6, 8,10]

merged_list = merge_sorted_lists(list1, list2)
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Q.18 Implement a code to find the intersection of two given lists.

In [ ]:
#Ans

In [ ]:
def intersect_lists(list1, list2):
    set1 = set(list1)
    set2 = set(list2)

    intersection = set1 & set2

    return list(intersection)

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

intersection_list = intersect_lists(list1, list2)
print("Intersection of lists:", intersection_list)

Intersection of lists: [4, 5]

In [ ]:
#Q.19 Create a code to find the union of two lists without duplicates.

In [ ]:
def union_lists(list1, list2):
    set1 = set(list1)
    set2 = set(list2)

    union = set1 | set2

    return list(union)

list1 = [1, 2, 3, 4, 5,6,9]
list2 = [4, 5, 6, 7, 8,10,11]

union_list = union_lists(list1, list2)
print("Union of lists:", union_list)

Union of lists: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#Q.20 Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def fisher_yates_shuffle(lst):
    n = len(lst)
    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

my_list = [1, 2, 3, 4, 5,6]
fisher_yates_shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [3, 6, 2, 5, 1, 4]

In [ ]:
#Q.21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    common = set(tuple1).intersection(set(tuple2))
    return tuple(common)

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

In [ ]:
#Q.22 Create a code that prompts the user to enter two sets of integers separated by commas.Then,print the intersection of these two sets.

In [ ]:
def get_set_from_input(prompt):
    return set(map(int, input(prompt).split(',')))

set1 = get_set_from_input("Enter the first set of integers (separated by commas): ")
set2 = get_set_from_input("Enter the second set of integers (separated by commas): ")

intersection = set1.intersection(set2)

print("The intersection of the two sets is:", intersection)

Enter the first set of integers (separated by commas): 96
Enter the second set of integers (separated by commas): 36
The intersection of the two sets is: set()

In [ ]:
#Q.23 Write a code to concatenate two tuples.The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6,7,8)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#Q.24 Develop a code that prompts the user to input two sets of strings.Then,print the elements that are present in the first set but not in the second set.

In [ ]:
def get_set_from_input(prompt):
    return set(input(prompt).split(','))

set1 = get_set_from_input("Enter the first set of strings (separated by commas): ")
set2 = get_set_from_input("Enter the second set of strings (separated by commas): ")

difference = set1.difference(set2)

print("Elements present in the first set but not in the second set:", difference)

Enter the first set of strings (separated by commas): 15
Enter the second set of strings (separated by commas): 36
Elements present in the first set but not in the second set: {'15'}

In [ ]:
#Q.25 Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def slice_tuple(input_tuple, start, end):
    if start < 0 or end >= len(input_tuple) or start > end:
        return "Invalid indices"
    return input_tuple[start:end + 1]

my_tuple = (10, 20, 30, 40, 50, 60, 70,80)
start_idx = 2
end_idx = 5

new_tuple = slice_tuple(my_tuple, start_idx, end_idx)
print(new_tuple)

(30, 40, 50, 60)

In [ ]:
#Q.26 Write a code that prompts the user to input two sets of characters.Then,print the union of these two sets.

In [ ]:
#Ans

In [ ]:
def union_of_sets():
    set1 = set(input("Enter the first set of characters: "))
    set2 = set(input("Enter the second set of characters: "))

    union_set = set1.union(set2)

    print("The union of the two sets is:", union_set)

union_of_sets()

Enter the first set of characters: abc
Enter the second set of characters: bde
The union of the two sets is: {'c', 'a', 'e', 'd', 'b'}

In [ ]:
#Q.27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
#Ans

In [ ]:
def find_max_min(input_tuple):
    max_value, min_value = max(input_tuple), min(input_tuple)

    return max_value, min_value

my_tuple = (10, 20, 5, 40, 25,50)
max_val, min_val = find_max_min(my_tuple)

print(f"Maximum value: {max_val}")
print(f"Minimum value: {min_val}")

Maximum value: 50
Minimum value: 5

In [ ]:
#Q.28 Create a code that defines two sets of integers.Then,print the union,intersection,and difference of these two sets.

In [ ]:
#Ans

In [ ]:
def set_operations():
    set1 = {1, 2, 3, 4, 5, 6}
    set2 = {4, 5, 6, 7, 8, 9}

    union_set = set1.union(set2)

    intersection_set = set1.intersection(set2)

    difference_set = set1.difference(set2)

    print("Union of the sets:", union_set)
    print("Intersection of the sets:", intersection_set)
    print("Difference of set1 - set2:", difference_set)

set_operations()

Union of the sets: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection of the sets: {4, 5, 6}
Difference of set1 - set2: {1, 2, 3}

In [ ]:
#Q.29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
#Ans

In [ ]:
def count_occurrences(input_tuple, element):
    return input_tuple.count(element)

my_tuple = (10, 20, 30, 20, 40, 20, 50 , 80)
element = 20

occurrences = count_occurrences(my_tuple, element)
print(f"The element {element} occurs {occurrences} times in the tuple.")

The element 20 occurs 3 times in the tuple.

In [ ]:
#Q.30 Develop a code that prompts the user to input two sets of strings. Then ,print the symmetric difference of these two sets.

In [ ]:
#Ans

In [ ]:
def symmetric_difference_of_sets():
    set1 = set(input("Enter the first set of strings (separated by spaces): ").split())
    set2 = set(input("Enter the second set of strings (separated by spaces): ").split())

    sym_diff_set = set1.symmetric_difference(set2)

    print("The symmetric difference of the two sets is:", sym_diff_set)

symmetric_difference_of_sets()

Enter the first set of strings (separated by spaces): apple banana cherry
Enter the second set of strings (separated by spaces): banana cherry grape
The symmetric difference of the two sets is: {'grape', 'apple'}

In [ ]:
#Q.31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [3]:
def word_frequencies(word_list):
    frequency_dict = {}

    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1

    return frequency_dict

words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple','mango']
frequencies = word_frequencies(words)
print(frequencies)

{'apple': 3, 'banana': 2, 'orange': 1, 'mango': 1}

In [5]:
#Q.32 Write a code that takes two dictinaries as input and merges them into a single dictinary.if there are common keys,the values should be added together.

In [8]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict

dict1 = {'mango' : 5,'apple': 3, 'banana': 2, 'orange': 1}
dict2 = {'banana': 1, 'grape': 4, 'apple': 2}

merged = merge_dictionaries(dict1, dict2)
print(merged)

{'mango': 5, 'apple': 5, 'banana': 3, 'orange': 1, 'grape': 4}

In [9]:
#Q.33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictinary, the function shuld return none.

In [11]:
def get_nested_value(nested_dict, key_list):
    current_dict = nested_dict

    for key in key_list:
        if key in current_dict:
            current_dict = current_dict[key]
        else:
            return None

    return current_dict

nested_dict = {
    'a': {
        'b': {
            'c': 5
        }
    },
    'x': {
        'y': 10
    }
}

keys = ['a', 'b', 'c']
result = get_nested_value(nested_dict, keys)
print(result)

keys = ['x', 'z']
result = get_nested_value(nested_dict, keys)
print(result)

5
None

In [12]:
#Q.34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending order.

In [14]:
def sort_dictionary_by_values(input_dict, ascending=True):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

sample_dict = {'apple': 5, 'banana': 2, 'orange': 7, 'grape': 3}

sorted_asc = sort_dictionary_by_values(sample_dict, ascending=True)
print("Sorted in ascending order:", sorted_asc)

sorted_desc = sort_dictionary_by_values(sample_dict, ascending=False)
print("Sorted in descending order:", sorted_desc)

Sorted in ascending order: {'banana': 2, 'grape': 3, 'apple': 5, 'orange': 7}
Sorted in descending order: {'orange': 7, 'apple': 5, 'grape': 3, 'banana': 2}

In [15]:
#Q .35 Write a code that inverts a dictionary,swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multipule keys have the same value by storing the keys as a list in the inverted dictinary.

In [17]:
def invert_dictionary(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict

sample_dict = {'apple': 5, 'banana': 2, 'orange': 5, 'grape': 3}

inverted = invert_dictionary(sample_dict)
print(inverted)

{5: ['apple', 'orange'], 2: ['banana'], 3: ['grape']}